# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
**/.cache/
# Build directory
**/public/
.DS_Store
yarn-error.log
firebase-debug.log
.env
**/.dynamodb/

## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/